
spring:
  application:
    name: observability-demo
  ai:
    openai:
      api-key: ${OPENAI_API_KEY:}
  docker:
    compose:
      stop:
        command: down # to stop and remove containers because qdrant needs fresh start in our demo case

management:
  endpoints:
    web:
      exposure:
        include: health,metrics, prometheus

logging:
  pattern:
    console: "%green(%d{HH:mm:ss.SSS}) %blue(%-5level) %red([%thread]) %yellow(%logger{15}) - %msg%n"
  level:
    org.springframework.ai.chat.client.advisor: ERROR # required to see logs using SimpleLoggerAdvisor
