spring:
  application:
    name: testing-with-evaluators
  ai:
    openai:
      api-key: ${OPENAI_API_KEY:}

management:
  endpoints:
    web:
      exposure:
        include: health,metrics

logging:
  pattern:
    console: "%green(%d{HH:mm:ss.SSS}) %blue(%-5level) %red([%thread]) %yellow(%logger{15}) - %msg%n"
  level:
    org.springframework.ai.chat.client.advisor: DEBUG # required to see logs using SimpleLoggerAdvisor

