server:
  port: 8090

spring:
  application:
    name: mcp-server-remote

  datasource:
    url: jdbc:h2:file:./chatmemory-h2db
    driver-class-name: org.h2.Driver
    username: SA
    password: SA
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
logging:
  pattern:
    console: "%green(%d{HH:mm:ss.SSS}) %blue(%-5level) %red([%thread]) %yellow(%logger{15}) - %msg%n"

